<div>
    <div class="content-wrapper w-container">
        <div class="flex"></div>
        <div class="w-row">
            <div class="w-col w-col-2"></div>
            <div class="w-col w-col-8">
                <div class="mobile-top-border">
                    <div class="form-title-box">
                        <h5>{{ page.form.header }}</h5>
                    </div>
                    <div class="form-wrapper">
                        <div class="w-form">
                            <form id="contact" method="POST" action="//formspree.io/xapzygpm" data-redirect="{{ site.url }}/thanks.html">
                                
                                <input type="text" class="text-field w-input" maxlength="256" name="First-Name" data-name="First Name" placeholder="First Name" id="First-Name" required>
                                <input type="text" class="text-field w-input" maxlength="256" name="Last-Name" data-name="Last Name" placeholder="Last Name" id="Last-Name" required>
                                <input type="text" class="text-field w-input" name="Address" data-name="Address" placeholder="Address">
                                <input type="number" class="text-field w-input" name="Zipcode" data-name="Zipcode" placeholder="Zipcode" >
                                <input type="email" class="text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Your Email" id="Email" required><input type="text" class="text-field w-input" maxlength="256" name="Phone" data-name="Phone" placeholder="Your Phone" id="Phone">

                                <p class="paragraph medium">Are you over 18 years of age?</p>
                                <div class="checkbox-field w-checkbox"> 
                                    <input type="radio" id="Age" name="Age" data-name="Age" value="Yes"> Yes
                                </div>
                                <div class="checkbox-field w-checkbox">
                                    <input type="radio" id="Age" name="Age" data-name="Age" value="No"> No
                                </div>

                                <p class="paragraph medium">Have you ever been convicted of a felony?</p>
                                
                                <div class="checkbox-field w-checkbox">
                                    <input type="radio" id="Felony" name="Felony" data-name="Felony" value="Yes" onclick="checkfunction();"> Yes
                                </div>
                                <div id="feloy-checked" style="display: none" >
                                    <input type="text" class="text-field w-input" maxlength="256" id="Crime" name="Crime" placeholder="What Crime was the conviction for?">
                                    <input type="text" class="text-field w-input" maxlength="256" id="ConvictionDate" name="ConvictionDate" placeholder="What was the date of the conviction?">
                                    
                                </div>
                                <div class="checkbox-field w-checkbox">
                                    <input type="radio" id="Felony" name="Felony" data-name="Felony" value="No" checked onclick="checkfunction();"> No
                                </div>
                                
                                <p class="paragraph medium">What kind of position would most interest you?</p>
                                <div class="checkbox-field w-checkbox">
                                    <input type="checkbox" id="ELO" name="ELO" data-name="ELO"> <label for="ELO" class="checkbox-label w-form-label">Entry Level Operation(such as Trimmer, Gardener, Janitorial, etc)</label>
                                </div>
                                <div class="checkbox-field w-checkbox">
                                    <input type="checkbox" id="ELS" name="ELS" data-name="ELS">
                                    <label for="ELS" class="checkbox-label w-form-label">Entry Level Security(such as driver or security guard)</label>
                                </div>
                                <div class="checkbox-field w-checkbox">
                                    <input type="checkbox" id="Mangement" name="Mangement" data-name="Mangement">
                                    <label for="Mangement" class="checkbox-label w-form-label">Management</label>
                                </div>
                                <div class="checkbox-field w-checkbox">
                                    <input type="checkbox" id="NSure" name="NSure" data-name="NSure">
                                    <label for="NSure" class="checkbox-label w-form-label">Not Sure</label>
                                </div>
                                <p class="paragraph medium">In order to verify your home address and identity, please upload a photo or scan of your Driver's License or State ID. If you have a resume, please upload here (this is not required unless you would like to be considered for a managerial position) <input type="hidden" role="uploadcare-uploader" name="my_file" /></p>
                                
                                <textarea id="Description" name="Description" placeholder="Anything else you would like to tell us?" maxlength="5000" data-name="Description" class="textarea w-input"></textarea>
                                <input type="submit" value="Send" data-wait="Please wait..." class="button-2 w-button">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-col w-col-2"></div>
        </div>
    </div>
</div>
