<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="content-wrapper w-container">
    <a href="{{ site.url }}" class="brand w-nav-brand">
      <img src="{{ '/assets/images/Consultar_Logo.png'}}" width="177" alt="" class="image">
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <a href="{{ site.appointment.link.src }}" class="nav-link w-nav-link">{{ site.appointment.link.label }}</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>