<div id="Hero" class="hero-section">
    <div class="content-wrapper w-container">
        <div class="flex _2">
            <div class="_50-column">
                <div class="hero-flex">
                    <div class="div-block-6">
                        <div class="title-3" data-aos="bounceInUp">
                            {{ page.welcome.label }}
                        </div>
                        <div data-aos="bounceInUp">
                            <h1 class="h1">
                                <strong>
                                    {{ page.welcome.header }}
                                </strong>
                            </h1>
                            <div class="underline-2"></div>
                        </div>
                        <div data-aos="bounceInUp">
                            <div class="subtitle-box-2">
                                <p class="subtitule">{{ page.welcome.subheader }}</p>
                            </div>
                            {% for line in page.welcome.content %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="_50-column">
                
                <div class="frame" data-aos="bounceInUp">
                    <img src="{{ 'assets/images/interview-1124.jpg?v=' | append: site.github.build_revision | relative_url }}" width="1000"
                     srcset="{{ '/assets/images/interview-500.jpg?v=' | append: site.github.build_revision | relative_url }} 500w, {{ '/assets/images/interview-800.jpg?v=' | append: site.github.build_revision | relative_url }} 800w, {{ '/assets/images/interview-1080.jpg?v=' | append: site.github.build_revision | relative_url }} 1080w, {{ '/assets/images/interview-1124.jpg?v=' | append: site.github.build_revision | relative_url }} 1124w"
                     sizes="(max-width: 479px) 245px, (max-width: 767px) 93vw, (max-width: 991px) 47vw, 48vw"
                     alt="" class="hero-girl" data-aos="bounceInRight">
                </div>
            </div>
        </div>
    </div>
</div>
